* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.scroll-box {
    width: 50vw; /* Set the width of the scrollable box */
    max-height: 20vh; /* Set the height of the scrollable box */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Add border for visual clarity */
     /* Add padding for spacing */
     background-color: white;
  }
  
  /* Style the list inside the scrollable box */
  .scroll-box ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
  }
  
  /* Style each list item */
  .scroll-box li {
    margin-bottom: 10px; /* Add spacing between list items */
  }
  
body {
  height: 100%;
  background: linear-gradient(135deg,hsl(0, 0%, 98%), #87ceeb);
}
/*
form {
  width: 75vmin;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px 0;
}
*/
input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
  font-size: 16px;
}
ul {
  list-style: none;
}
.list {
  width: 200%;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  display:table-footer-group;
}
.list-items {
  padding: 10px 5px;
  width: 400%;
}
.list-items:hover {
  background-color: #dddddd;
}